* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background: #100c08;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 3%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 30px;
    color: #BB9F06;
    text-decoration: none;
    font-weight: 900;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 790;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover {
    color: #BB9F06;
}

.CODMobile {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    align-items: left;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.CODMobile-content {
    max-width: 600px;
}

.CODMobile-content h3 {
    font-size: 36px;
    font-weight: 700;
    color: #818C97;
}

.CODMobile-content h1 {
    font-size: 36px;
    font-weight: 700;
    color: #A0AFBE;
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #BB9F06;
    border-radius: 40px;
    font-size: 16px;
    color: #100c08;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}

.btn-box:hover {
    box-shadow: 0 0 5px #eed023, 0 0 25px #eed023, 0 0 50px #eed023, 0 0 100px #eed023, 0 0 200px #eed023
}

.background-video video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media(min-aspect-ratio: 16/9) {
    .background-video video {
        width: 100%;
        height: auto;
    }
}